body {
  background-image: url(../img/turtle.jpg);
}
 h1, h2, h3, h4, h5, h6, figcaption {
  font-family: Helvetica Neue;
  color: white;
}

h2, h3 {
  font-size: 30;

}

p {
  font-size: larger;
  font-weight: lighter;
  color: white;
}

ul {
  margin-left:20px; 
  display:inline-block;
}
li {
  display:inline-block;
}
a {
  color:#ed2c12;
